.container {
    min-height: 100vh;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 20px;
    width: 500px;
}

.titulo {
    color: darkred;
    margin-bottom: 2rem;
}

/* INPUTS */
.inputs {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.inputQtd {
    width: 80px;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.inputProduto {
    flex: 1;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* BOTÃO */
.botao {
    background-color: darkred;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.botao:hover {
    opacity: 0.85;
}

/* LISTA */
.lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 12px;
}